## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# ESLint setting file
!.eslintrc.js
# cloud function runtime config 
# firebase functions:config:get > .runtimeconfig.json
.runtimeconfig.json
