.container {
  user-select: none;
  position: relative;
  --shadow-color: rgba(0, 0, 0, 0.5);

  .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 60%;
    box-shadow: 0.5vw 0.5vw 2vw 0.25vw var(--shadow-color);
  }
}
