.button {
  appearance: none;
  border: 0;
  background-color: #1DB954;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.6rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
