.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  --visible: 0;
  background-color: rgba(0, 0, 0, calc(var(--visible) / 3));
  transition: background-color 0.3s;

  &:hover {
    --visible: 1;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);

    transform: scaleX(0);
    transform-origin: top left;

    animation-name: progress;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @keyframes progress {
      0% { transform: scaleX(0); }
      100% { transform: scaleX(1); }
    }
  }

  svg {
    --size: 20%;
    fill: rgba(255, 255, 255, calc(var(--visible)));
    transition: fill 0.3s;
    width: var(--size);
    height: var(--size);

    cursor: pointer;

    --shadow: 0;
    filter: drop-shadow(0.1vw 0.1vw 1vw rgba(0, 0, 0, var(--shadow)));
    transition: filter 0.2s;

    &:hover {
      --shadow: 1;
    }
  }
}
