.container {
  width: calc(90vw / 5);
  height: calc(90vw / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.container img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

@media (768px < width <= 1280px) {
  .container {
    width: calc(90vw / 4);
    height: calc((90vw / 16) * 5);
  }
}
@media (width <= 768px) {
  .container {
    width: calc(90vw / 2);
    height: calc((90vw / 8) * 5);
  }
}
