.button {
  position: fixed;
  bottom: calc(4em + 64px);
  right: 3em;
  width: 64px;
  height: 64px;
  outline: none;
  border: 0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
}
