.container {
  position: relative;
}

.image {
  z-index: 1;
  position: fixed;
  background: url(https://source.unsplash.com/random/?nature) no-repeat center;
  background-size: cover;

  height: 100vh;
  width: 50vw;
  overflow: hidden;
}
.image img {
  position: absolute;
  bottom: 0;
  transform: translateX(-20%);
}

.login {
  z-index: 10;
  position: fixed;
  width: 50vw;
  height: 100vh;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #444;
}

.login h3 {
  margin: 1em 0 2em 0;
  font-size: 3em;
}

@media (max-width: 768px) {
  .image {
    width: 100vw;
  }
  .image img {
    width: 200vw;
  }
  .login {
    color: white;
    left: 0;
    width: 100vw;
    background-color: rgba(170, 170, 170, 0.5);
  }
}
